header{
    background-image: url('fejlec_ajandek.jpg');
}

.nav{
    margin-top: 80px;
}

.nav-link.active{
    color: rgb(237, 183, 45);
}

li{
    margin: 10px;
}

.nav-item{
    font-weight: bold;
    background-color: rgb(34, 35, 46);
    border-radius: 10px;
    box-shadow: 2px 5px 8px #000000;
    padding-left: 40px;
    padding-right: 40px;
    
}

h1{
    color: red;
    text-align: center;
    margin: 10px;
}

.telefonok{
    width: 60%;
    margin: 30px auto;
}
.col-sm-4{
    width: 30%;
    margin: auto;
    font-weight: bold;
    background-color: rgb(34, 35, 46);
    border-radius: 10px;
    box-shadow: 2px 5px 8px #000000;
    text-align: center;
}


footer{
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

footer p{
    margin: 15px;
}
